---

- name: Ensure etcd configuration directory exists
  file:
    path: "{{ etcd_config_dir }}"
    state: directory
    owner: "{{ etcd_user }}"
    group: "{{ etcd_group }}"
  become: true

- include_tasks: tls.yaml

- name: Create configuration file for etcd node
  template:
    src: templates/etcd.yaml.j2
    dest: "{{ etcd_config_dir }}/etcd.yaml"
    owner: "{{ etcd_user }}"
    group: "{{ etcd_group }}"
  become: true

- name: Enable and start the etcd service
  service:
    name: etcd
    enabled: true
    state: started
  become: true
