---

- name: Include EPEL installation steps on Rocky and Alma systems
  include_tasks: rhel_rocky_epel.yaml
  when: ansible_distribution in ('Rocky', 'AlmaLinux')

- name: Include EPEL steps for official RHEL systems
  include_tasks: rhel_rhel_epel.yaml
  when: 
  - ansible_distribution == 'RedHat'
  - ansible_distribution_major_version | int > 7

- name: Include EPEL steps for Oracle Linux systems
  include_tasks: rhel_oracle_epel.yaml
  when: 
  - ansible_distribution == 'OracleLinux'
  - ansible_distribution_major_version | int > 7
