---

- name: Wait until Patroni cluster is established
  shell: |-
    {{ ctl }} list {{ pg_version }}-{{ cluster_name }} -f json \
        | jq -r '.[] | select(.Host == "{{ first_node_in_zone }}") | .State'
  vars:
    ctl: "patronictl -c {{ patroni_config_dir }}/{{ patroni_config_file }}"
  register: patroni_status
  retries: 30
  delay: 10
  until: patroni_status.stdout  == 'running'
  become: true
  become_user: postgres
