---

# Allow for "infinite" core dumps

- name: Set the security core limits to "unlimited"
  blockinfile:
    path: /etc/security/limits.conf
    marker: "# {mark} ANSIBLE MANAGED"
    insertbefore: "^# End of file"
    block: |
      *                -       core            unlimited
  become: true
  tags:
  - debug

- name: Limit core dump processing to 32GB each, and 64GB total
  blockinfile:
    path: /etc/systemd/coredump.conf
    marker: "# {mark} ANSIBLE MANAGED"
    insertafter: "EOF"
    block: |
      ProcessSizeMax=32G
      ExternalSizeMax=32G
      MaxUse=64G
  become: true
  tags:
  - debug

- name: Set the default systemd core limit to "infinity"
  lineinfile:
    path: /etc/systemd/system.conf
    regexp: "^#?DefaultLimitCORE="
    line: "DefaultLimitCORE=infinity:infinity"
  become: true
  tags:
  - debug
