---

- name: Disable selinux
  selinux:
    state: disabled
  become: true
  register: selinux_state
  when:
  - ansible_selinux == 'enabled'

- name: Reboot after modifying SELinux
  reboot:
  become: true
  when:
  - ansible_selinux == 'enabled'
  - selinux_state.changed
