---

- name: Make sure the {{ os_user }} user has a .ssh directory
  file:
    path: "{{ os_home }}/.ssh"
    state: directory
    mode: 0700
  become: true
  become_user: "{{ os_user }}"

- name: Create an SSH key for this server if it doesn't already have one
  openssh_keypair:
    path: "{{ os_home }}/.ssh/id_ed25519"
    type: ed25519
  become: true
  become_user: "{{ os_user }}"

- name: Retrieve this server's SSH public key
  fetch:
    src: "{{ os_home }}/.ssh/id_ed25519.pub"
    dest: "host-keys/{{ inventory_hostname }}"
    flat: yes
  become: true
  become_user: "{{ os_user }}"
