global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen pg-cluster
    bind *:{{ proxy_port }}
    mode tcp
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

{% for host in nodes_in_zone %}
{%   set host_name = hostvars[host].inventory_hostname %}
{%   set host_label = host_name | regex_replace('[\W-]', '_') %}
    server {{ host_label }} {{ host_name }}:{{ pg_port }} check port 8008
{% endfor %}

{% for route in haproxy_extra_routes %}
{%   set lag = haproxy_extra_routes[route].lag | default("") %}

listen pg-cluster-{{ route }}
    bind *:{{ haproxy_extra_routes[route].port }}
    mode tcp
    option httpchk /{{ route }}{{ "?lag=" + lag if lag }}
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

{% for host in nodes_in_zone %}
{%   set host_name = hostvars[host].inventory_hostname %}
{%   set host_label = host_name | regex_replace('[\W-]', '_') %}
    server {{ host_label }} {{ host_name }}:{{ pg_port }} check port 8008
{% endfor %}
{% endfor %}
