---

default_backup_server: "{{ backups_in_zone | first | default('') }}"
backup_server: "{{ backup_host or default_backup_server }}"

default_repo_params:
  region: "us-east-1"
  endpoint: "s3.amazonaws.com"
  bucket: "pgbackrest"
  access_key: ""
  secret_key: ""

backup_params: "{{ default_repo_params | combine(backup_repo_params) }}"
