---

- name: Ensure RHEL pgedge Postgres service is set up
  include_tasks: rhel_prep.yaml
  when: ansible_facts.os_family == 'RedHat'

- include_tasks: setup.yaml
  when:
  - not is_ha_cluster

- include_tasks: ha_setup.yaml
  when:
  - is_ha_cluster
  - inventory_hostname == first_node_in_zone

- include_tasks: replica_setup.yaml
  when:
  - is_ha_cluster
  - inventory_hostname != first_node_in_zone
