---

# A replica node should have no running Postgres. For Debian systems, that
# means we need to stop the Postgres service so Patroni can take over. We
# don't need to actually erase the data directory, as Patroni should also
# take care of that for us if necessary. Only do this if Patroni isn't
# running, as that means this task has been re-run at some later time.

- name: Populate service facts to check for required services
  ansible.builtin.service_facts:

- name: Ensure Postgres instance is stopped during bootstrap on replicas
  service:
    name: "{{ pg_service_name }}"
    state: stopped
    enabled: false
  become: true
  when:
  - ansible_facts.services['patroni.service']['state'] | default('') != 'running'

- name: Erase existing Postgres data directory during bootstrap on replicas
  file:
    path: "{{ pg_data }}"
    state: absent
  become: true
  when:
  - ansible_facts.services['patroni.service']['state'] | default('') != 'running'
