---

- name: Ensure Postgres data directory is initialized and properly configured
  include_tasks: prep_instance.yaml

# Start the database so we can perform additional administrative actions.
# Make sure the service is enabled while we're at it.

- name: Ensure Postgres instance is started
  service:
    name: "{{ pg_service_name }}"
    state: started
    enabled: true
  become: true

# Include all other common steps for a standard Postgres node

- name: Include common Postgres setup steps
  include_tasks: common_setup.yaml
