---

- name: Install Patroni and DCS Python dependencies
  package:
    name:
    - patroni
    state: present
    lock_timeout: 300
  retries: 5
  delay: 20
  register: result
  until: result is success
  become: true
