# Managed by Ansible.
LAKEKEEPER__PG_DATABASE_URL_WRITE={{ lakekeeper_dsn }}
LAKEKEEPER__PG_DATABASE_URL_READ={{ lakekeeper_dsn }}
LAKEKEEPER__PG_ENCRYPTION_KEY={{ lakekeeper_key.content | b64decode | trim }}
LAKEKEEPER__BIND_IP={{ lakekeeper_bind_ip }}
LAKEKEEPER__LISTEN_PORT={{ lakekeeper_port }}
LAKEKEEPER__METRICS_PORT={{ lakekeeper_metrics_port }}
