---

# Patch the Patroni configuration to include required archive and restore
# commands for PgBackRest.

- name: Configure Patroni to integrate with PgBackRest
  shell: |
    cat<<EOF|{{ ctl }} edit-config --force --apply - pgedge
    postgresql:
      parameters:
        hot_standby: true
        archive_command: "pgbackrest {{ push_args }}"
        restore_command: "pgbackrest {{ pull_args }}"
    EOF
  vars:
    ctl: "patronictl -c {{ patroni_config_dir }}/{{ patroni_config_file }}"
    stanza: "pgedge-{{ cluster_name }}-{{ zone }}"
    push_args: "--stanza={{ stanza }} archive-push %p"
    pull_args: "--stanza={{ stanza }} archive-get %f %p"
  become: true
  become_user: postgres
  when: inventory_hostname == first_node_in_zone

- name: Reload the Postgres service to incorporate changes
  command:
    argv:
    - patronictl
    - -c
    - "{{ patroni_config_dir }}/{{ patroni_config_file }}"
    - reload
    - -r
    - any
    - --force
    - "{{ pg_version }}-{{ cluster_name }}"
    - "{{ ansible_hostname }}"
  become: true
  become_user: postgres
