---

- name: Ensure PgBackRest configuration directory exists owned by our user
  file:
    path: /etc/pgbackrest
    state: directory
    owner: "{{ os_user }}"
    group: "{{ os_user }}"
  become: true

- name: Create configuration file for PgBackRest
  template:
    src: templates/pgbackrest.conf.j2
    dest: /etc/pgbackrest/pgbackrest.conf
    mode: "0600"
  become: true
  become_user: "{{ os_user }}"

- name: Create a log folder for PgBackRest
  file:
    path: "/var/log/pgbackrest"
    state: directory
    owner: "{{ os_user }}"
    group: "{{ os_user }}"
    mode: "0700"
  become: true
