---

# The standard setup for PgBackRest is to transmit WAL files to the defined
# repo endpoint. We also want to be able to pull WAL files from the backup
# repo in case of restores. Put these in the Postgres config to ensure they
# get loaded.

- name: Configure cluster to integrate with PgBackRest
  lineinfile:
    path: "{{ pg_config_dir }}/postgresql.conf"
    line: "{{ item.var }} = '{{ item.setting }}'"
    regexp: "^{{ item.var }}[ =].*"
  vars:
    stanza: "pgedge-{{ cluster_name }}-{{ zone }}"
    push_args: "--stanza={{ stanza }} archive-push %p"
    pull_args: "--stanza={{ stanza }} archive-get %f %p"
  loop:
  - { var: "archive_mode", setting: "on" }
  - { var: "archive_command", setting: "pgbackrest {{ push_args }}" }
  - { var: "restore_command", setting: "pgbackrest {{ pull_args }}" }
  become: true
  become_user: postgres

- name: Reload the Postgres service to incorporate changes
  systemd_service:
    name: "{{ pg_service_name }}"
    state: reloaded
    enabled: true
  become: true
