---

# Patch the Patroni configuration to include required archive and restore
# commands for PgBackRest.

- name: Configure Patroni to integrate with PgBackRest
  shell: |
    cat<<EOF|{{ ctl }} edit-config --force --apply - pgedge
    postgresql:
      parameters:
        hot_standby: true
        archive_command: "pgbackrest {{ push_args }}"
        restore_command: "pgbackrest {{ pull_args }}"
    EOF
  args:
    chdir: "{{ patroni_bin_dir }}"
  vars:
    ctl: "./patronictl -c {{ patroni_config_dir }}/patroni.yaml"
    stanza: "pgedge-{{ cluster_name }}-{{ zone }}"
    push_args: "--stanza={{ stanza }} archive-push %p"
    pull_args: "--stanza={{ stanza }} archive-get %f %p"
  become: true
  become_user: postgres
  when: inventory_hostname == first_node_in_zone

- name: Reload the Postgres service to incorporate changes
  shell: |
    {{ ctl }} reload -r any --force pgedge {{ ansible_hostname }}
  args:
    chdir: "{{ patroni_bin_dir }}"
  vars:
    ctl: "./patronictl -c {{ patroni_config_dir }}/patroni.yaml"
  become: true
  become_user: postgres
