---

# Backup "clients" are any pgedge node. It may be that backups are not
# configured on this cluster, in which case clients have nothing to do and
# should be skipped.

- include_tasks: setup_client.yaml
  when:
  - inventory_hostname in groups.pgedge
  - backup_server > ''

# Backup servers have a much different setup process than client systems.
# If the backup group is defined at all, we can assume a backup target exists.

- include_tasks: setup_server.yaml
  when:
  - groups.backup is defined
  - inventory_hostname in groups.backup
