---

- name: Set PgBackRest full backup schedule
  cron:
    name: "Full PgBackRest schedule"
    minute: "{{ full_backup_schedule.split(' ')[0] }}"
    hour: "{{ full_backup_schedule.split(' ')[1] }}"
    day: "{{ full_backup_schedule.split(' ')[2] }}"
    month: "{{ full_backup_schedule.split(' ')[3] }}"
    weekday: "{{ full_backup_schedule.split(' ')[4] }}"
    job: 'pgbackrest {{ stanza }} backup --type=full'
  vars:
    stanza: "--stanza=pgedge-{{ cluster_name }}-{{ zone }}"
  become: true
  become_user: "{{ os_user }}"
  when: full_backup_schedule.split(' ') | length == 5

- name: Set PgBackRest differential backup schedule
  cron:
    name: "Differential PgBackRest schedule"
    minute: "{{ diff_backup_schedule.split(' ')[0] }}"
    hour: "{{ diff_backup_schedule.split(' ')[1] }}"
    day: "{{ diff_backup_schedule.split(' ')[2] }}"
    month: "{{ diff_backup_schedule.split(' ')[3] }}"
    weekday: "{{ diff_backup_schedule.split(' ')[4] }}"
    job: 'pgbackrest {{ stanza }} backup --type=diff'
  vars:
    stanza: "--stanza=pgedge-{{ cluster_name }}-{{ zone }}"
  become: true
  become_user: "{{ os_user }}"
  when: diff_backup_schedule.split(' ') | length == 5
