{%- set endpoints = [] %}
{%- for host in nodes_in_zone %}
{%- set _ = endpoints.append(hostvars[host]['ansible_hostname'] + '=http://' + host + ':2380') %}
{%- endfor %}
name: {{ ansible_hostname }}
advertise-client-urls: http://{{ inventory_hostname }}:2379
data-dir: /var/lib/etcd/postgresql
initial-advertise-peer-urls: http://{{ inventory_hostname }}:2380
initial-cluster: {{ endpoints | join(',') }}
initial-cluster-state: new
initial-cluster-token: pgedge_cluster
listen-client-urls: http://{{ inventory_hostname }}:2379,http://localhost:2379
listen-peer-urls: http://{{ inventory_hostname }}:2380
dial-timeout: 20s
read-timeout: 20s
write-timeout: 20s
