---

- name: Ensure HAProxy configuration directory exists
  file:
    path: /etc/haproxy
    state: directory
  become: true

- name: Create configuration file for HAProxy node
  template:
    src: templates/haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
  register: config_status
  become: true

# Only restart HAProxy on subsequent runs if the config file changed.
# Otherwise, just make sure it's up and running.

- name: Ensure HAProxy is enabled and running
  service:
    name: haproxy
    enabled: true
    state: "{{ 'restarted' if config_status.changed else 'started' }}"
  become: true
