---

- name: Download pgEdge installer package
  uri:
    url: "{{ repo_url }}/install.py"
    dest: "{{ install_base }}/install.py"
    status_code: [200, 304]
  environment:
    REPO: "{{ repo_url }}"

- name: Install pgEdge package on server
  shell: |
    cd {{ install_base }}
    python3 ./install.py
    if [ $? -eq 0 ]; then
      rm install.py
    fi
  environment:
    REPO: "{{ repo_url }}"
