---

- name: Install standard pgEdge packages
  package:
    name:
    - "pgedge-enterprise-all{{ separator }}{{ pg_version }}"
    - pgedge-python3-psycopg2
    state: present
  vars:
    separator: "{{ '_' if ansible_os_family == 'RedHat' else '-' }}"
  retries: 5
  delay: 20
  register: result
  until: result is success
  become: true
