---

- name: Ensure required packages for PgBackrest are installed
  package:
    name:
    - pgedge-pgbackrest
    - "{{ 'cronie' if ansible_os_family == 'RedHat' else 'cron' }}"
    state: present
    lock_timeout: 300
    update_cache: true
  retries: 5
  delay: 20
  register: result
  until: result is success
  become: true
