{%- set ip_mask = (ansible_default_ipv4.address + '/' +
      ansible_default_ipv4.netmask) |
      ansible.utils.ipaddr('host/prefix') %}
{%- set db_list = (db_names + ['postgres']) | join(',') %}
scope: pgedge
namespace: /db/
name: {{ ansible_hostname }}
replication_slot_name: {{ ansible_hostname | regex_replace('[\W-]', '_') }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ inventory_hostname }}:8008

etcd3:
  host: {{ inventory_hostname }}:2379
  ttl: 30
  protocol: http

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    synchronous_mode: {{ synchronous_mode }}
    synchronous_mode_strict: {{ synchronous_mode_strict }}

    postgresql:
      use_pg_rewind: true
      use_slots: true

      # Change any cluster-wide configuration settings here
      parameters:
        port: {{ pg_port }}
        ssl: on
        ssl_cert_file: "{{ pg_data }}/server.crt"
        ssl_key_file: "{{ pg_data }}/server.key"
        listen_addresses: "0.0.0.0"
        archive_mode: "on"
        archive_command: "/bin/true"
        TimeZone: "UTC"
        wal_level: "logical"
        max_worker_processes: 12
        max_replication_slots: 16
        max_wal_senders: 16
        hot_standby_feedback: "on"
        track_commit_timestamp: "on"
        shared_preload_libraries: "spock, snowflake, pg_stat_statements"
        spock.enable_ddl_replication: "on"
        spock.allow_ddl_from_functions: "on"
        spock.include_ddl_repset: "on"
        spock.exception_behaviour: "{{ spock_exception_behaviour }}"
        spock.conflict_resolution: "last_update_wins"
        spock.save_resolutions: "on"
        spock.conflict_log_level: "DEBUG"
        snowflake.node: {{ zone }}

    # This will tell Patroni to ignore Spock replication slots.
    ignore_slots:
    - type: logical
      plugin: spock_output

postgresql:
  listen: 0.0.0.0:{{ pg_port }}
  connect_address: {{ inventory_hostname }}:{{ pg_port }}
  config_dir: {{ pg_config_dir }}
  data_dir: {{ pg_data }}
  bin_dir: {{ pg_path }}/bin
  pgpass: {{ pg_home }}/.patroni_pgpass

  # HBA rules go here because the only other way to get them is to fully
  # bootstrap the cluster from scratch. That basically precludes adding to an
  # existing cluster.

  pg_hba:
  - local all postgres peer
  - host all all 127.0.0.1/32 scram-sha-256
  # pgEdge Distributed Postgres node communication and admin user
{% for host in groups['pgedge'] %}
{%   set host_ip = hostvars[host].ansible_default_ipv4.address %}
  - host {{ db_list }} {{ pgedge_user }} {{ host_ip }}/32 scram-sha-256
  - host {{ db_list }} {{ db_user }} {{ host_ip }}/32 scram-sha-256
{% endfor %}
  # Physical replication user connections
  - host postgres,replication {{ replication_user }} 127.0.0.1/32 scram-sha-256
{% for host in nodes_in_zone %}
{%   set host_ip = hostvars[host].ansible_default_ipv4.address %}
  - host postgres,replication {{ replication_user }} {{ host_ip }}/32 scram-sha-256
{% endfor %}
  # Connections from proxy servers
{% for host in proxies_in_zone %}
{%   set host_ip = hostvars[host].ansible_default_ipv4.address %}
  - host {{ db_list }} {{ db_user }} {{ host_ip }}/32 scram-sha-256
  - host {{ db_list }} {{ pgedge_user }} {{ host_ip }}/32 scram-sha-256
{% endfor %}
{% if proxy_node %}
{% set host_ip = proxy_node | ansible.utils.ipaddr('address') or lookup('dig', proxy_node) %}
  - host {{ db_list }} {{ db_user }} {{ host_ip }}/32 scram-sha-256
  - host {{ db_list }} {{ pgedge_user }} {{ host_ip }}/32 scram-sha-256
{% endif %}
{% for rule in custom_hba_rules %}
{%   set contype = rule.contype | default('host') %}
{%   set databases = rule.databases | default('postgres') %}
{%   set users = rule.users | default('postgres') %}
{%   set source = rule.source | default('127.0.0.1/32') %}
{%   set method = rule.method | default('scram-sha-256') %}
  - {{ contype }} {{ databases }} {{ users }} {{ source }} {{ method }}
{% endfor %}
  # Connections from backup servers
{% if backup_host %}
{% set host_ip = backup_host | ansible.utils.ipaddr('address') or lookup('dig', backup_host) %}
  - host postgres,replication {{ backup_user }} {{ host_ip }}/32 scram-sha-256
{% endif %}
{% for host in groups['backup'] | default([]) %}
{%   set host_ip = hostvars[host].ansible_default_ipv4.address %}
  - host postgres,replication {{ backup_user }} {{ host_ip }}/32 scram-sha-256
{% endfor %}

  authentication:
    replication:
      username: {{ replication_user }}
      password: {{ replication_password }}
    superuser:
      username: {{ db_user }}
      password: {{ db_password }}
