---

cluster_path: "{{ install_base }}/pgedge"
pg_path: "{{ cluster_path }}/pg{{ pg_version }}"
pg_data: "{{ cluster_path }}/data/pg{{ pg_version }}"

nodes_in_zone: |
    {{ groups['pgedge'] |
    map('extract', hostvars) |
    selectattr('zone', 'eq', zone) |
    map(attribute='inventory_hostname') }}

first_node_in_zone: "{{ nodes_in_zone | first }}"

spock_exception_behaviour: >-
  {{ exception_behaviour if exception_behaviour in (
       'discard', 'transdiscard', 'sub_disable'
     ) else 'transdiscard' }}
