---

nodes_in_zone: >-
  {{ groups['pgedge'] |
  map('extract', hostvars) |
  selectattr('zone', 'eq', zone) |
  map(attribute='inventory_hostname') }}

proxies_in_zone: >-
  {{ groups['haproxy'] | default([]) |
  map('extract', hostvars) |
  selectattr('zone', 'eq', zone) |
  map(attribute='inventory_hostname') | list }}

backups_in_zone: >-
  {{ groups['backup'] | default([]) |
  map('extract', hostvars) |
  selectattr('zone', 'eq', zone) |
  map(attribute='inventory_hostname') | list }}

first_node_in_zone: "{{ nodes_in_zone | first }}"

spock_exception_behaviour: >-
  {{ exception_behaviour if exception_behaviour in (
       'discard', 'transdiscard', 'sub_disable'
     ) else 'transdiscard' }}

backup_type: "{{ backup_repo_type if backup_repo_type in ('ssh', 's3') else 'ssh' }}"

pg_service_name: >-
  postgresql{{ 
    '-' + pg_version|string if ansible_facts.os_family == 'RedHat' else
    '@' + pg_version|string + '-main' if ansible_facts.os_family == 'Debian'
  }}

pg_config_dir: >-
  {{ 
    '/etc/postgresql/' + pg_version|string + '/main' if ansible_facts.os_family == 'Debian'
    else pg_data
  }}
